*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    background-color: rgb(223, 231, 233);
}
.main_nav{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 18px;
    padding: 15px 25px;
    font-weight: 900;
}
.nav {
    list-style-type: none;
    background-color: none;
    height: 40px;
    padding-top: 15px;
    font-optical-sizing:inherit;
    font-weight: 100px;
    font-style: normal;
    font-size: 12px;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.nav li:hover{
    text-decoration: underline;
}
.nav li{
    margin-right: 35px;
}
.nav a {
    text-decoration: none;
    color: black;
}
.col_2_log , .col_2_reg {
    display: none; 
  }
  
  #div1 {
    display: block; 
  }

.main_con{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.col_1 , .col_2{
    padding: 50px;
    width: 40%;
}

.form_con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10px;
}
input , select{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #fff;

}
button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(114, 114, 179);
    border-radius: 5px;
    margin: 10px 0 40px 0;
    color: rgb(245, 244, 244);
    width: 100%;
}
.col_1_1 , .col_1_2{
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}
h3{
    font-size: 25px;
    padding: 10px 0;
}

